.wrapper{
    position: absolute;
    bottom: 0;
    background :linear-gradient(45deg, rgb(25,67,79), rgb(71,52,49));
    width: 100%;
    height: 100%;

}

.header-wrapper{
    position: relative;
    /* background-color: blanchedalmond; */
    height: 80px;
    width: 100%;
    color: white;
    top: 0;
    z-index: 0;
}

.header-wrapper .header-wrap{
    padding-top: 30px;
    padding-left: 40px;
}

.header-wrapper .header-wrap .logo-wrap{
    float: left;
    font-size: 20px;
}

.header-wrapper .header-wrap .logo-wrap h1{
    display: inline;
    margin-right: 30px;
    
}

.header-wrapper .header-wrap .logo-wrap .search{
    display: inline-block;
    border-radius: 15px;
    border: 1px solid black;
    height: 30px;
    width: 200px;
    padding-left: 5px;
    background-color: rgb(25,67,79);
}

.header-wrapper .header-wrap .logo-wrap .search fieldset{
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
}

.header-wrapper .header-wrap .logo-wrap .search fieldset{
    size: 15px;
    color: dimgrey;
    margin-top: 3px;

}

.header-wrapper .header-wrap .logo-wrap .search input[type=text]{
    display: inline;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 160px;
    border: none;
    border-radius: 15px;
    background-color: rgb(25,67,79);
    color: white;
}
.header-wrapper .header-wrap .panel{
    float: right;
    width: 500px;
    height: 50px;
}

.header-wrapper .header-wrap .panel .list-icon{
    float: left;

}

.header-wrapper .header-wrap .panel .list-icon li{
    float: left;
    list-style: none;
    font-size: 35px;
    padding: 20px;
}
.header-wrapper .header-wrap .panel .list-icon2{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}

.header-wrapper .header-wrap .panel .list-icon2 h4{
    display: inline;
    line-height: 60px;
    float: left;
}

.header-wrapper .header-wrap .panel .list-icon2 ul{
    display: inline;
}

.header-wrapper .header-wrap .panel .list-icon2 li{
    float: left;
    list-style: none;
    font-size: 35px;
    padding: 10px;
}

/* 사이드바 */

.sidebar-wrap{
    position: absolute;
    width: 160px;
    /* background-color: white; */
    bottom: 0;
    height: calc(100% - 80px);
    padding-top: 120px;
    text-align: center;
    z-index: 0;
}

.sidebar-wrap .menu-list-wrap{

}

.sidebar-wrap .menu-list-wrap .menu-list{

}

.sidebar-wrap .menu-list-wrap .menu-list li{
    padding-bottom: 25px;
    position: relative;

}


.sidebar-wrap .menu-list-wrap .menu-list li i{
    font-size: 30px;
    padding-top: 30px;
}

.sidebar-wrap .menu-list-wrap .menu-list li p{
    display: inline-block;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 10px;
    background-color: none;
    border-radius: 5px;
    height: 100%;
    opacity: 1.2;
}

.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(1):hover{
    background-color: rgba(255,0,0,0.5);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(1):hover > p{
    background-color: rgba(255,0,0);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(2):hover{
    background-color: rgba(255,187,0,0.5);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(2):hover > p{
    background-color: rgba(255,187,0);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(3):hover{
    background-color: rgba(255,228,0,0.5);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(3):hover > p{
    background-color: rgba(255,228,0);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(4):hover{
    background-color: rgba(92,209,229,0.5);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(4):hover > p{
    background-color: rgba(92,209,229);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(5){
    margin-top: 200px;
}

.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(5):hover{
    background-color: rgba(246,246,246,0.5);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(5):hover > p{
    background-color: rgba(246,246,246);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(6):hover{
    background-color: rgba(246,246,246,0.5);
}
.sidebar-wrap .menu-list-wrap .menu-list li:nth-child(6):hover > p{
    background-color: rgba(246,246,246);
}

.main-wrapper{
    position: absolute;
    background-color: rgba(0, 0, 0,0.3);
    border-radius: 30px;
    bottom: 40px;
    left: 160px;
    width: calc(100% - 200px);
    height: calc(100% - 160px);
    z-index: 0;
    
}

.main-wrapper .main-wrap{
    padding: 50px 80px;
    color: white;
}

.main-wrapper .main-wrap .main-logo{

    float: left;

}


.main-wrapper .main-wrap .main-serach{
    float: right;
    background-color: rgba(255,255,255,0.05);
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    color: white;
}

.main-wrapper .main-wrap .main-serach label{
    font-size: 16px;

}

.main-wrapper .main-wrap .main-serach select{
    width: 200px;
    border: 0;
    padding: 0;
    margin: 0;
    background : none;
    color: white;
}

.main-wrapper .main-wrap .main-serach input[type=text]{
    width: 400px;
    border: 0;
    padding: 0;
    margin: 0;
    background : none;
    color: white;
}

.main-wrapper .main-wrap  .main-content .main-list-wrap{
    float: left;
    margin-top: 50px;
    width: 45%;
}

.main-wrapper .main-wrap  .main-content .table-list table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 18px;
}

.main-wrapper .main-wrap  .main-content .table-list table th:nth-child(1){
    text-align: left;
}

.main-wrapper .main-wrap  .main-content .table-list table th{
    border-bottom: 1px solid gray; 
    font-size: 16px;
    padding-bottom: 10px;
}

.main-wrapper .main-wrap  .main-content .table-list table td{
    position: relative;
    padding: 0;
    padding-top: 20px;
    border-bottom: 1px solid gray; 
    padding: 20px 0;
}


.main-wrapper .main-wrap  .main-content .table-list table td span{
    width: 10px;
    background-color: none;
    height: 10px;
    float: left;
    border-radius: 30px;
    margin-top: 2px;
    z-index: 0;
}

.main-wrapper .main-wrap  .main-content .table-list table td .text{
    float: left;
    margin-left: 10px;
    text-align: left;
}

.main-wrapper .main-wrap  .main-content .table-list table td p{
    display: inline;
}

.main-wrapper .main-wrap  .main-content .table-list table td:nth-child(2){
    color: gray;
}

.main-wrapper .main-wrap  .main-content .table-list table td:nth-child(3) .box{
    border-radius: 7px;
    background-color: seagreen;
    height: 25px;
    line-height: 1.4;

}

.main-wrapper .main-wrap  .main-content .table-list table td:nth-child(4){

    letter-spacing : -0.5px;
}

/* 라벨 색상 */
.main-wrapper .main-wrap  .main-content .table-list table td .span-red{
    background-color: red;
}

.main-wrapper .main-wrap  .main-content .table-list table td .span-yellow{
    background-color: yellow;
}

.main-wrapper .main-wrap  .main-content .table-list table td .span-green{
    background-color: green;
}

.main-wrapper .main-wrap  .main-content .table-list table td .span-blue{
    background-color: blue;
}

.main-wrapper .main-wrap  .main-content .list-icon{
    text-align: center;
    margin-top: 20px;

}

.main-wrapper .main-wrap  .main-content .list-icon i {
    font-size: 30px;
}






.main-wrapper .main-wrap  .main-content .main-contet-wrapper{
    float: right;
    background-color: black;
    width: 45%;
    height: 570px;
    border-radius: 40px;
    margin-top: 50px;
    padding: 30px;

}

.main-wrapper .main-wrap  .main-content .main-contet-wrapper::-webkit-scrollbar{
    width: 10px;
    background-color: none;
}

.main-wrapper .main-wrap  .main-content .main-contet-wrapper .content-header{
    overflow: auto;
    padding-right: 30px;
    margin-bottom: 20px;
    height: 140px;
}

.main-wrapper .main-wrap  .main-content .main-contet-wrapper .content-header::-webkit-scrollbar{
    width: 10px;
    background-color: none;
}
/* 컨텐츠 공통 헤더 */ 
.main-wrapper .main-wrap  .main-content .header{
    text-align: left;
    font-size: 14px;
    padding: 5px;
}

.main-wrapper .main-wrap  .main-content .main-contet-wrapper .content-header .content{
    text-align: left;
    font-size: 13px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 35px;

}
.main-wrapper .main-wrap  .main-content .main-contet-wrapper .content-header .date{
    text-align: right;
    font-size: 15px;
}

.main-wrapper .main-wrap  .main-content .main-contet-input-wrap{
    padding-left: 30px;

}
/* 
.main-wrapper .main-wrap  .main-content .main-contet-input-wrap .header{

} */

.main-wrapper .main-wrap  .main-content .main-contet-input-wrap .content{
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: rgba(213, 213, 213,0.2);
    margin: 20px 0;
    height: 270px;
    overflow: auto;
}

.main-wrapper .main-wrap  .main-content .main-contet-input-wrap .content::-webkit-scrollbar{
    width: 10px;
    background-color: none;
}

.main-wrapper .main-wrap  .main-content .main-contet-input-wrap .date{
    padding-left: 10px;
    color: gray;
    font-size: 12px;
}

.main-wrapper .main-wrap .input-wrap{
    float: right;
    margin-top: 10px;

}

.main-wrapper .main-wrap .input-wrap i{
    line-height: 1.4;
    padding-right: 5px;
    font-size: 30px;
    float: left;
    color: deeppink;
}

.main-wrapper .main-wrap .input-wrap .input-box{
    float: left;
    border-radius: 20px;
    background: rgba(219, 219, 219,0.3);
    height: 40px;
    line-height: 1.8;
}

.main-wrapper .main-wrap  .input-wrap .input-box input[type=text]{
    background: none;
    width: 500px;
    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.main-wrapper .main-wrap   .input-wrap .input-box button{
    background-color: lightgray;
    width: 150px;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    height: 40px;
}
/* 
.main-wrapper .main-wrap   .input-wrap .input-box button:focus{
    background-color: black;
    height: 30px;
    border-radius: 20px;
} */